<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Horus</title>
    <link rel="icon" href="resources/images/logo.png">
    <link rel="stylesheet" href="resources/styles/register.css">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" >   
</head>
    <body>
        <% if(login){ %>
        <form action="register" method="post">
            <div class="form">
                <h1>REGISTRO<br>USUARIO</h1>
                <div class="grupo">
                    <input type="text" name="nombre" id="nombre" required><span class="barra"></span>
                    <label for="">Nombre Completo</label>
                </div>
                <div class="grupo">
                    <input type="password" name="contra" id="contra" required><span class="barra"></span>
                    <label for="">Contraseña</label>
                </div>  
                <div class="grupo">
                    <input type="text" name="cedula" id="cedula" required><span class="barra"></span>
                    <label for="">Cedula</label>
                </div>                     
                <div class="grupo">
                    <input type="text" name="tipoUsuario" id="tipoUsuario" required><span class="barra"></span>
                    <label for="">Tipo de usuario</label>
                </div>     
                <div class="grupo">
                    <input type="text" name="apto" id="apto"><span class="barra"></span>
                    <label for="">Número apartamento</label>
                </div>                   
                    
                <button type="submit">Registrar</button>     
                <a href="homeAdmin"><button class="salir" type="button">Volver</button></a>                           
            </div>                   
        </form>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <% if (typeof alert != "undefined"){%>
            <script>
                Swal.fire({
                    title:'<%= alertTitle %>',
                    text: '<%=alertMessage %>',
                    icon: '<%=alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(()=>{
                    window.location='/<%=ruta%>'
                })
            </script>
            <% } %>        

        <%} else {%>
            <div class="centro">
                <div class="grupo">
                    <h1><strong><%=nombre%></strong></h1>
                </div>
                <a href="/"><button type="logout">Ingresar</button></a>  
            </div>
        <% } %>   
 

    </body>
</html>